html, body {
	margin: 0;
	height: 100%;
}

.justify-content-center {
	justify-content: center;
}

.align-items-center {
	align-items: center;
}

.full-height {
	height: 100% !important;
}

.full-width {
	width: 100% !important;
}

.form-label {
	font-weight: bold;
}

.ui-card-content table {
	width: 100%;
}

.ui-card-content table input {
	width: 100%;
}

.mandatory::after {
	content: " *";
	color: #F86568;
}

.pfs-fileUpload-immediate .ui-fileupload-filename {
	display: none;
}

.align-center {
	text-align: center !important;
}

.align-right {
	text-align: right !important;
}

.align-left {
	text-align: left !important;
}

body .ui-inputfield {
	width: 100% !important;
}

.column-sequence-no {
	width: 20px !important;
}


